body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
  color: #000000;
}

.custom-padding {
  padding: 4rem 2rem;
}

.map-container iframe {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.form-label {
  font-weight: 500;
}

.btn-outline-dark {
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-outline-dark:hover {
  background-color: #000;
  color: #fff;
}
