#form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.068);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 350px;;
  }

  @media (max-width: 576px) {
    #form{
      max-width: 90%; /* Reduz a largura máxima para telas menores */
      padding: 15px; /* Diminui o padding para telas menores */
    }
}


