body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

#treinos {
    padding: 40px 0;
    background-color: #fff;
    align-items: center;
}

/* Container dos horários de treino */
#schedules {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


/* Estilo de cada imagem */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    padding: 15px;
    font-style: bold;
}

/* Cada coluna com imagem (responsividade 2 colunas nas telas grandes) */
.col-sm-3 {
    position: relative;
    flex: 1 1 calc(50% - 20px);
    max-width: 300px;
    margin-bottom: 20px;
}

/* Imagens com largura total da coluna */
img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de zoom nas imagens */
img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

/* Texto sobreposto na imagem */
.overlay {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
    padding: 10px 20px;
    border-radius: 0px;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

/* Hover texto */
.col-sm-3:hover .overlay {
    opacity: 1;
    visibility: visible;
}

/*Responsividade para mobile*/
@media (max-width: 768px) {
    .col-12, .col-sm-6 {
        flex: 1 1 100%; 
    }
    
    img {
        max-width: 100%;
    }
}
